# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=razoo
DB_PORT=2345

# Server
JWT_SECRET=udltb0DOf9b0qxRLBgdF9sfFHGzFNuWwHSRGwmXiTuA=
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/razoo
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres123
