@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Manrope:wght@300;400;500;600;700&family=Poppins&display=swap');

@font-face {
  font-family: 'SULFATES';
  src: url('./fonts/ITCGaramondStd-BkNarrow.otf');
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    @apply scrollbar-hide bg-[#e9e7e2] text-black font-manrope font-[400];
  }

  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-[17px];
  }
}

@layer components {
  .btn {
    @apply cursor-pointer;
  }

  .active-link {
    @apply underline underline-offset-[6px];
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
