@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes custom-scale {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.25);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes test {
  0% {
    @apply translate-x-[0%];
  }

  100% {
    @apply translate-x-[-200%];
  }
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    @apply scrollbar-hide;
  }

  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-lg;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer;
  }

  .active-link {
    @apply underline underline-offset-[6px];
  }
}

@layer utilities {
  .test-animation {
    animation-name: custom-scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
